<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
	  <target name="filetrace" xsi:type="File" fileName="logs/Req_Response_${shortdate}.log"
			layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="fileinfo" xsi:type="File" fileName="logs/Info_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
	<target name="filedebug" xsi:type="File" fileName="logs/Debug_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
	<target name="fileerror" xsi:type="File" fileName="logs/Error_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} -- ${exception:format=ToString}" />
  </targets>

  <rules>
	  <logger name="*" level="Trace" writeTo="filetrace" />
    <logger name="*" level="Info" writeTo="fileinfo" />
	<logger name="*" levels="Debug" writeTo="filedebug" />
	 <logger name="*" minlevel="Warn" writeTo="fileerror" />
  </rules>

</nlog>